[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipaddr = "*"
requests = "*"
python-dotenv = "*"

[dev-packages]
pytest = "*"
requests-mock = "*"
pytest-cov = "*"

[requires]
python_version = "3.11"
